.repertoire {
  & .repertoire__content {
    padding: calc(var(--site-ink-space) / 2) 0 var(--site-ink-space);
  }

  @media (max-width: 767px) {
    & .repertoire__content {
      padding-top: calc(var(--site-ink-space-phone) / 2);
      padding-bottom: var(--site-ink-space-phone);
    }
  }
}
