.members {
  & .members__inner {
    padding-top: var(--site-ink-space);
    padding-bottom: calc(var(--site-ink-space) / 2);
  }

  @media (max-width: 767px) {
    & .members__inner {
      padding-top: var(--site-ink-space-phone);
      padding-bottom: calc(var(--site-ink-space-phone) / 2);
    }
  }
}
