.members {
  & .members__inner {
    padding-top: clamp(40px, 4.5vw, 64px);
    padding-bottom: clamp(30px, 4vw, 52px);
  }

  @media (max-width: 767px) {
    & .members__inner {
      padding-top: 28px;
      padding-bottom: 48px;
    }
  }
}
